In [3]:
'''Ejercicio: 
Obtener las 10 personas con mayor edad y generar un nuevo DataFrame con la información de el id de la persona, el año, 
su edad, el id de la categoría conicet y las producciones académicas de los últimos 4 años. Unirlo con el DataFrame conicet 
y en base a ese generar una tabla con el id de la persona y la descripción de la categoría en conicet. 

Luego guardar este último DataFrame en un archivo.'''
import pandas as pd 
personas = pd.read_csv(r'C:\Users\Usuario\Desktop\UNIVERSIDAD\fund_info\F-de-Informatica-sample\ciencia_de_datos\Pandas\personas_2011.csv', sep=';')
conicet = pd.read_csv(r'C:\Users\Usuario\Desktop\UNIVERSIDAD\fund_info\F-de-Informatica-sample\ciencia_de_datos\Pandas\ref_categoria_conicet.csv', sep=';')
# Filtrar, crear y visualizar el nuevo DataFrame
pers_mayores = personas.sort_values(by = ["edad"], ascending = False, ignore_index = True).head(10) 
df = pers_mayores[['persona_id', 'anio', 'edad', 'categoria_conicet_id', 'producciones_ult_4_anios']]
df

   persona_id  anio  edad  categoria_conicet_id  producciones_ult_4_anios
0        6522  2011    88                   5.0                         8
1       63317  2011    85                  -1.0                         0
2       18569  2011    84                  -1.0                        11
3        9442  2011    84                  -1.0                        19
4       44842  2011    84                  -1.0                        28
5       15685  2011    83                  -1.0                        12
6       29049  2011    83                  -1.0                         1
7       15407  2011    83                  -1.0                         9
8       15238  2011    83                  -1.0                        22
9       59467  2011    83                  -1.0                        13

In [ ]:
# Combinar el DataFrame a conicet y guardarlo como un nuevo archivo
df_final = pd.merge(df, conicet, on = "categoria_conicet_id")
df_final.to_csv("Resultado.csv", index=False)