In [7]:
'''
Ejercicio 1
Escribí un programa que dado un diccionario cuyos valores sean listas de números cree un DataFrame y luego seleccione e imprima las filas del DataFrame basado en un valor de una columna.
Diccionario de muestra: {1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}, y el valor es 4 en la columna 1.'''
dic = {1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
df = pd.DataFrame(dic)
print(df.loc[df[1] == 4]) 
# Entiendo el código pero no lo que devuelve, por qué hay varios valores en lugar de uno sólo?

   1  2  3
1  4  5  8
3  4  7  0

In [5]:
'''
Ejercicio 2
Escribí un programa que guarde en una lista una columna de un DataFrame.'''
import pandas as pd 
categorias = pd.read_csv(r'C:\Users\Usuario\Desktop\UNIVERSIDAD\fund_info\F-de-Informatica-sample\ciencia_de_datos\Pandas\ref_categoria_conicet.csv', sep=';')
def guardar_en_lista(columna): 
    lista = []
    lista.append(categorias[columna])
    return lista 

guardar_en_lista('categoria_conicet_descripcion')

[0            No pertenece a Conicet
 1            Investigador asistente
 2              Investigador adjunto
 3        Investigador independiente
 4            Investigador principal
 5             Investigador superior
 6                  Becario doctoral
 7              Becario postdoctoral
 8                 Personal de apoyo
 9                       Gestión CyT
 10                          Pasante
 11            Otro personal Conicet
 12     Investigador correspondiente
 13    Investigador superior emérito
 Name: categoria_conicet_descripcion, dtype: object]

In [7]:
'''
Ejercicio 3
Realizá un programa que agregue datos a un DataFrame vacío.'''
df = pd.DataFrame()
def agregar_datos(columna, contenido): 
    df[columna] = contenido 
    print(df)

agregar_datos('Mood', ['Excelente', 'Bien', 'Podría estar mejor', 'Mal', 'No me hables'])

                 Mood
0           Excelente
1                Bien
2  Podría estar mejor
3                 Mal
4        No me hables

In [14]:
# DataFrame de ejemplo de teoría sacada de 'https://aprendeconalf.es/docencia/python/manual/pandas/#combinar-varios-dataframes'
colesterol = pd.read_csv(r'https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
colesterol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [16]:
'''
Ejercicio 4
Escribí un programa que elimine las primeras n filas de un DataFrame. Pista: el DataFrame original no debe modificarse.'''
def eliminar_filas(cantidad): 
    nuevo_df = colesterol.drop(colesterol.index[0:cantidad]) 
    print(nuevo_df) 

eliminar_filas(3)
# Es correcto, existen las filas desde la 3 hasta la 13, en total son 10 en lugar de 13
# ... ahora, por qué no se reinicia el valor de la fila? en lugar de 3 sería 1

                             nombre  edad sexo   peso  altura  colesterol
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [12]:
'''
Ejercicio 5
Realizá un programa que verifique si una columna dada se encuentra presente en un DataFrame.'''

def verificar_columna(column, dataframe): 
    columnas = []
    for i in dataframe: 
        columnas.append(i)
        if column in columnas: 
            print('La columna se encuentra dentro del Dataframe')
        else: 
            print('La columna indicada no existe en el Dataframe')

verificar_columna('Mood', df)

La columna se encuentra dentro del Dataframe

In [23]:
'''
Ejercicio 6
Escribí un programa que dado dos diccionarios genere dos DataFrame y los una tanto en el eje de las columnas como en el eje de las filas.'''
dicc1 = {"A":["10", "9"], "B":["8", "7"], "C":["6", "5"]}
df1 = pd.DataFrame(dicc1)
dicc2 = {"D":["4", "3"], "E":["2", "1"], "F":["0", "-"]}
df2 = pd.DataFrame(dicc2)
print('Unido por columnas')
print(pd.concat([df1, df2], axis=1))
print('\nUnido por filas')
print(pd.concat([df1, df2]))

Unido por columnas
    A  B  C  D  E  F
0  10  8  6  4  2  0
1   9  7  5  3  1  -

Unido por filas
     A    B    C    D    E    F
0   10    8    6  NaN  NaN  NaN
1    9    7    5  NaN  NaN  NaN
0  NaN  NaN  NaN    4    2    0
1  NaN  NaN  NaN    3    1    -

In [ ]:
'''
Ejercicio 7
Creá un programa que dado un diccionario y una lista añada está última al DataFrame generado a partir del diccionario.'''

In [17]:
'''
Ejercicio 8
Realizá un programa que dado dos DataFrames genere otro que contenga solo las columnas en común.'''
df1 = pd.DataFrame({"Notas":["9", "4", "8"], "Alumnos":["María", "José", "Ana"], "Aprobados":["María", "-", 'Ana']})
df2 = pd.DataFrame({"Aprobados":["Martín", "Mercedes", 'Ana'], "Notables":["María", "Martín", 'Guille']})
nuevo_df = pd.DataFrame(pd.concat([df1, df2], join="inner"))# join='inner' te junta aquellas columnas en comun
            # intersección --> it returns a dataframe with only those rows that have common characteristics
print(nuevo_df)

  Aprobados
0     María
1         -
2       Ana
0    Martín
1  Mercedes
2       Ana