In [3]:
import pandas as pd 
conicet = pd.read_csv('ref_categoria_conicet.csv')
conicet

   categoria_conicet_id;categoria_conicet_descripcion
0                           -1;No pertenece a Conicet
1                            1;Investigador asistente
2                              2;Investigador adjunto
3                        3;Investigador independiente
4                            4;Investigador principal
5                             5;Investigador superior
6                                  6;Becario doctoral
7                              7;Becario postdoctoral
8                                 8;Personal de apoyo
9                                       9;Gestión CyT
10                                         10;Pasante
11                           11;Otro personal Conicet
12                    12;Investigador correspondiente
13                   13;Investigador superior emérito

In [6]:
personas = pd.read_csv('personas_2011.csv')
personas

      persona_id;anio;sexo_id;edad;maximo_grado_academico_id;disciplina_maximo_grado_academico_id;disciplina_titulo_grado_id;disciplina_experticia_id;tipo_personal_id;producciones_ult_anio;producciones_ult_2_anios;producciones_ult_3_anios;producciones_ult_4_anios;institucion_trabajo_id;seniority_level;categoria_conicet_id;categoria_incentivos;max_dedicacion_horaria_docente_id;institucion_cargo_docente_id;clase_cargo_docente_id;tipo_condicion_docente_id
0      1;2011;2;36;-1;-1;-1;64;4;0;1;1;1;4488;   ;-1;...
1      5;2011;1;48;1;255;255;255;3;5;7;13;17;118;B  ;...
2      7;2011;2;30;5;111;111;158;1;11;13;13;13;587;D ...
3      10;2011;2;51;5;248;248;29;4;0;1;3;4;44;   ;-1;...
4      11;2011;1;39;2;223;203;280;3;8;12;15;18;7310;C...
...                                                  ...
68547  185558;2011;2;-1;-1;-1;-1;263;2;-1;-1;-1;-1;22...
68548  185574;2011;2;55;-1;-1;-1;38;2;0;0;0;0;10971; ...
68549  185583;2011;2;18;7;-1;-1;216;2;-1;-1;-1;-1;106...
68550  185590;2011;2;-1;8;-1;-1;250;2;-1;-1;-1;-1;396...
68551  185608;2011;1;27;5;227;227;252;2;-1;-1;-1;-1;3...

[68552 rows x 1 columns]