In [ ]:
# Faltam los ejercicios: 1, 2 y 4

In [8]:
'''
Ejercicio 1
Escribí un programa que sume, reste, multiplique y divida dos series de números de Pandas.
Series de muestra:
[3, 7, 12, 15, 21], [1, 4, 10, 14, 19] '''
import pandas as pd 
ser1 = [3, 7, 12, 15, 21]
ser2 = [1, 4, 10, 14, 19]

ds1 = pd.Series(ser1)
ds2 = pd.Series(ser2)

print('Suma:')
print(ds1 + ds2)

Suma:
0     4
1    11
2    22
3    29
4    40
dtype: int64

In [9]:
print('\nResta:')
print(ds1 - ds2)

Resta:
0    2
1    3
2    2
3    1
4    2
dtype: int64

In [10]:
print('\nMultiplicación:')
print(ds1 * ds2)

Multiplicación:
0      3
1     28
2    120
3    210
4    399
dtype: int64

In [11]:
print('\nDivisión:')
print(ds1 / ds2)

División:
0    3.000000
1    1.750000
2    1.200000
3    1.071429
4    1.105263
dtype: float64

In [12]:
'''
Ejercicio 2
Realizá un programa que compare (si son mayores, menores o iguales) los elementos de dos series de números de Pandas.
Series de muestra:
[3, 7, 9, 14, 25], [1, 7, 10, 16, 19] '''
import pandas as pd 
serie1 = [3, 7, 9, 14, 25]
serie2 = [1, 7, 10, 16, 19]

ss1 = pd.Series(serie1)
ss2 = pd.Series(serie2)

print('Igualdad: ')
print(ss1 == ss2)

Igualdad:
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [13]:
print('\nSerie 1 mayor a Serie 2:')
print(ss1 > ss2)

Serie 1 mayor a Serie 2:
0     True
1    False
2    False
3    False
4     True
dtype: bool

In [14]:
print('\nSerie 1 menor a Serie 2:')
print(ss1 < ss2)

Serie 1 menor a Serie 2:
0    False
1    False
2     True
3     True
4    False
dtype: bool

In [5]:
'''
Ejercicio 3
Escribí un programa para convertir un diccionario a una serie de Pandas.
Diccionario de muestra:
dict1 = {"a": 10, "b": 20, "c": 30, "d": 40, "e": 50}'''
import pandas as pd
dict1 = {'Letra':['a','b','c','d','e'], 'Valor':[10,20,30,40,50]}
df = pd.DataFrame(dict1)
print(df)

  Letra  Valor
0     a     10
1     b     20
2     c     30
3     d     40
4     e     50

In [18]:
'''
Ejercicio 4
Escribí un programa que dado un diccionario cuyos valores son listas de números, cree otro diccionario con las mismas claves, 
pero donde los valores sean una lista de números donde se potencia un número por el siguiente, tomándolos de a pares. Para ser 
más claros miremos este ejemplo donde si un diccionario es:

dict1 = {"a": [1,3,5,2], "b": [4,2,3,3]}
el diccionario resultante debería ser:
dict2 = {"a": [1, 25], "b": [16, 27]}

Esto se obtiene al hacer 1 al cubo (el primer par de la lista "a"), y 5 al cuadrado, por un lado; y 4 al cuadrado y 3 al cubo por el otro. 
Se considera que la cantidad de elementos en las listas siempre es par, por lo que no habría que hacer ninguna comprobación al respecto. 
Se puede usar el dict1 como diccionario de muestra, pero considerá que la lista puede ser más grande. Por último hay que convertir este 
último diccionario en un DataFrame de Pandas.
'''
# Hecho con Guille el 27/5
# No lo entendí, preguntar
import pandas as pd 
dict1 = {"a": [1,3,5,2], "b": [4,2,3,3]}
dict2 = {} 

for clave, valor in dict1.items(): 
    pares = []
    impares = []
    potencia = []
    for i in range(len(valor)): 
        if i % 2 == 0: 
            pares.append(valor[i])
        else: 
            impares.append(valor[i])
    for i in range(len(pares)): 
        potencia.append(pares[i] ** impares[i])
    dict2[clave] = potencia 
print(dict2)

new_df = pd.DataFrame(dict2)
print(new_df)

{'a': [1, 25], 'b': [16, 27]}
    a   b
0   1  16
1  25  27

In [20]:
'''
Ejercicio 5
Realizá un programa para crear y mostrar un DataFrame a partir de un diccionario y de unas etiquetas (o labels).
Muestra:
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}
labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]'''
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}
labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
df = pd.DataFrame(datos_ejemplo, labels)
print(df)

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1
d    Julián     13.0         3         0
e    Emilio      9.0         2         0
f    Miguel     20.0         3         1
g     Mateo     14.5         1         1
h     Laura     10.0         1         0
i     Jorge      8.0         2         0
j     Lucas     19.0         1         1

In [21]:
'''
Ejercicio 6
Escribí un programa que muestre un resumen de la información básica de un DataFrame y sus datos.
Muestra:
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}
labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]'''
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    10 non-null     object
 1   puntaje   10 non-null     float64
 2   intentos  10 non-null     int64
 3   califica  10 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 400.0+ bytes

In [18]:
'''
Ejercicio 7
Escribí un programa que obtenga las 3 primeras filas de un DataFrame dado.
Muestra:
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}
labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]'''
df.head(3)

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1

In [24]:
'''
Ejercicio 8
Realizá un programa que seleccione e impirma las columnas "nombre" y "puntaje" del DataFrama anterior.'''
df[["nombre","puntaje"]]

     nombre  puntaje
a  Agustina     12.5
b     Diana      9.0
c     Karen     16.5
d    Julián     13.0
e    Emilio      9.0
f    Miguel     20.0
g     Mateo     14.5
h     Laura     10.0
i     Jorge      8.0
j     Lucas     19.0

In [22]:
'''
Ejercicio 9
Escribí un programa que dado el DataFrame anterior imprima los nombres en mayúscula y la longitud de los mismos en una nueva tabla.'''
mayus = []
length = [] 
for nombre in datos_ejemplo["nombre"]: 
    mayus.append(str.upper(nombre))
    length.append(len(nombre))

df_filtrado = pd.DataFrame(mayus, length)
df_filtrado

          0
8  AGUSTINA
5     DIANA
5     KAREN
6    JULIÁN
6    EMILIO
6    MIGUEL
5     MATEO
5     LAURA
5     JORGE
5     LUCAS